
.hidden-text {
    visibility: hidden;
  }
  
  .skeleton__track {
    background: linear-gradient(90deg, #313131 25%, #272727, #201f1f 75%);
    background-size: 200% 100%;
    animation: loading 1.5s infinite;
    width: 356px;
    height: 19px;
  }
  
  .skeleton__author {
    background: linear-gradient(90deg, #313131 25%, #272727, #201f1f 75%);
    background-size: 200% 100%;
    animation: loading 1.5s infinite;
    width: 271px;
    height: 19px;
  }
  .skeleton__album {
    background: linear-gradient(90deg, #313131 25%, #272727, #201f1f 75%);
    background-size: 200% 100%;
    animation: loading 1.5s infinite;
    width: 305px;
    height: 19px;
  }
  .skeleton__image {
    background: linear-gradient(90deg, #313131 25%, #272727, #201f1f 75%);
    background-size: 200% 100%;
    animation: loading 1.5s infinite;
    width: 51px;
    height: 51px;
  }
  
  @keyframes loading {
    0% {
      background-position: 200% 0;
    }
    100% {
      background-position: -200% 0;
    }
  }