
  @font-face {
    font-family: "StratosSkyeng";
    src: local("StratosSkyeng"), local("StratosSkyeng"),
      url("/src/fonts/StratosSkyeng.woff2") format("woff2"),
      url("/src/fonts/StratosSkyeng.woff") format("woff");
    font-weight: 400;
    font-style: normal;
  }

  /* ul li {
    list-style: none;
  } */
  
  .menu__list {
    
  }
  
  .menu__list.show {

  }

  
  .menu__link {
    color: #ffffff;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
